.card {
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #979797;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 90px;
}

.card__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0px 12px;
}

.card:hover .card__left, .card:hover .card__right{
  opacity: 0.5;
}

.card__right div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__left {
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card__left__header {
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
  display: flex;
  flex-direction: row;
}

.card__left__header_text {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.card__left__content {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.25px;
  margin-top: 2px;
  color: #6b6b6b;
}
