.dropdown-button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #343434;
  padding: 3px;
  width: 100%;
  background-color: #fff;
}

.dropdown-button__wrapper {
  display: flex;
  align-items: center;
}

.dropdown-button:hover,
.dropdown-button:focus {
  background: #1797ff;
}

.dropdown-button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.dropdown-button:active {
  transform: scale(0.99);
}

.dropdown-button__wrapper__icon {
  margin: 8px;
}
